<div class="chat-header">

  <div class="ct_header_left">
    <div class="header-title">
    hogehoge
    </div>
  </div>

  <div class="ct_header_right">
   <div class="header-button">
      <a href="#" >チャットを終了する</a>
    </div>
  </div>

</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="msg-user">
      Tom
      </div>
      <div class="msg-date">
      2020/3/31/(wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="msg-content">
      おはよう
      </div>
   </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="msg-user">
      Risa
      </div>
      <div class="msg-date">
      2020/3/31/(wed) 12:44:30
      </div>
    </div>
    <div class="lower-message">
      <div class="msg-content">
      おはよう
      </div>
   </div>
  </div>

</div>

<div class="form">
  <div class="form-input">
  <input class="message-form" placeholder= "type a message">
  <label class="form-image">
    <span class="image-file">画像</span>
    <input type="file" class="hidden">
  </label>
  </div>
  <input class="send-button" type="submit" value="送信"></div>
</div>